body{
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    /*list-style: none;*/

}

ul, li, p, label {
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    text-align: center;
}

.loginPage{
    height: auto;
    background: #d2d6de;
}

.loginBox{
    width: 360px;
    margin: 7% auto;
}
.loginBox__logo{
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}

.loginBox__body{
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}

.loginBox__body__msg{
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}

.form-control{
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}

.btn.btn-flat{
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}

.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
}

.btn-primary:hover {
    background-color: #367fa9;
    /*border-color: #367fa9;*/
}

.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}

form .form-group{
    position: relative;
}

form .form-group i{
    font-size: 24px;
    color: #777;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 40px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.form-control-feedback{
    color: #777;
}

.signIn{
    display: flex;
    justify-content: space-between;
}

.inputCheckbox{
    display: inline-flex;
    align-items: center;
}

.form-check-input{
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    position: relative;
    margin: 0 5px 0 0;
}

.signIn button{
    width: 25%;
    max-width: 400px;
}