html{
    height: 100%;
}
body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100%;
}

ul, li, p, label {
    margin: 0;
    padding: 0;
}

a, a:hover {
    text-decoration: none;
}

.redMarker{
    color: #ff6163;
}


.hide{
    display: none;
}

/*      HEADER :: BEGIN     */

.header {
    display: flex;
    line-height: 40px;
}

.header__logo {
    font-size: 20px;
    text-align: center;
    width: 15%;
    min-width: 180px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #367fa9;
    color: #fff;
}

.header__notice {
    display: flex;
    justify-content: flex-end;
    width: 85%;
    background-color: #3c8dbc;
}

.header__notice__item {
    position: relative;
    margin: auto 30px;
}

.header__notice__item a i {
    font-size: 22px;
    margin-right: 4px;
    color: #fff;
    font-weight: 100;
}

.header__notice__item a span {
    font-size: 16px;
    color: #fff;
}

.notice-success {
    background-color: #00a65a;
    border-radius: 20%;
    position: absolute;
    top: 4px;
    right: -10px;
    text-align: center;
    padding: 2px 3px;
    line-height: .9;
}

.notice-warning {
    background-color: #f39c12;
    border-radius: 20%;
    position: absolute;
    top: 4px;
    right: -10px;
    text-align: center;
    padding: 2px 3px;
    line-height: .9;
}

/*         CONTENT :: END      */






/*         CONTENT :: BEGIN      */

#content {
    display: flex;
    flex: 1 0 auto;
}

/*      CONTENT -> SIDEBAR :: BEGIN     */

.sidebar {
    width: 15%;
    min-width: 180px;
    background-color: #222d32;
}

.sidebar__user {
    display: flex;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
}

.sidebar__user > img {
    width: 100%;
    max-width: 45px;
    height: auto;
    border-radius: 50%;
}

.sidebar__user > p {
    color: #fff;
    padding: 5px 5px 5px 15px;
    line-height: 1;
}

.sidebar p.sidebar__header {
    text-transform: uppercase;
    color: #3c8dbc;
    text-align: center;
    background: #1a2226;
    padding: 15px;
}

.sidebar__nav {
    display: flex;
    flex-direction: column;
    list-style: none;
}

ul.sidebar__nav > li {
}

ul.sidebar__nav > li > a i {
    margin-right: 5px;
}

ul.sidebar__nav > li > a span {
    position: absolute;
    left: 40px;
}

ul.sidebar__nav > li > a {
    color: #b8c7ce;
    display: block;
    padding: 15px;
    transition: all .3s ease-in-out;
}

ul.sidebar__nav > li:hover > a {
    color: #fff;
    background: #1e282c;
}

ul.sidebar__nav hr {
    background: #b8c7ce;
}

.active {
    border-right: 5px solid #3c8dbc;
    background-color: #15364a;
}

ul.sidebar__nav > li.active > a {
    color: white;
}




/*      CONTENT -> DATACONTENT :: BEGIN     */

.dataContent{
    width: 85%;
    padding: 20px;
    background-color: #ecf0f5;
}

.listWorks__header,
.listCategories__header,
.listUsers__header{
    display: flex;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 20px;
}

.listWorks__header h2,
.listCategories__header h2,
.listUsers__header h2{
    flex-grow: 1;
    text-align: center;
}

.listWorks__header a,
.listCategories__header a,
.listUsers__header a{
    display: block;
    height: 30px;
    align-self: center;
}

.listThanks, .listCategories{
    max-width: 1000px;
    margin: 0 auto;
}



table.table {
    text-align: center;
}

.admin-work_item{
    /*display: inline-flex;*/
    /*width: 100%;*/
}

.admin-work_item td{
    vertical-align: middle;
    padding: .2rem;
}

.admin-work_item img{
    width: 100px;
}

.admin-work_item i.fa_size{
    font-size: 1.5em;
}




.admin-work_item td.td__photo .getLarge {
    opacity: 0;
    /*display: none;*/
    visibility: hidden;
    position: absolute;
    transition: all 1s ease;
    width: 0;
    height: 0;
    top: -50px;
    left: 150px;

    /*visibility: hidden;*/
}

.admin-work_item td.td__photo .myHover{
    position: relative;
    transition: 1s ;

}

.admin-work_item td.td__photo .myHover:hover  .getLarge{
    opacity: 1;
    /*display: block;*/
    visibility: visible;
    width: 350px;
    height: auto;
    top: -50px;
    left: 150px;
    /*transition: all 1s ease;*/

}

.admin-work_item td.td__photo .myHover:hover .getLarge__img{
    display: block;
}

.admin-work_item .getLarge__img{
    width: 350px;
    height: auto;
    display: none;
}



.crud{
    width: 90%;
    min-width: 500px;
    margin: 0 auto;
}

.crud h2{
    text-align: center;
    padding-bottom: 40px;
}

.crud form{
    width: 80%;
    min-width: 600px;
}

.crud .form-group{
    display: flex;
    align-items: center;
    height: 70px;
    margin: 0;
}

.help-block{
    font-size: 13px;
    text-indent: 10px;
}

.crud .form-group__label{
    font-size: 20px;
    width: 20%;
    min-width: 250px;
    line-height: 1em;
}


.crud .form-group__data{
    width: 80%;
}

.crud .form-group select {
    height: 30px;
}

.crud .form-group input[type=checkbox] {
    width: 25px
}

.crud .form-group__correct img{
    display: block;
    padding-bottom: 10px;
    width: 300px;
}

.crud .form-group__correct{
    height: auto;
    padding-bottom: 20px;
}

/*.crud .currentImage{*/
    /*height: 200px;*/
/*}*/

/*.crud .currentImage p{*/
    /*font-size: 20px;*/
    /*width: 20%;*/
    /*min-width: 250px;*/
    /*line-height: 1em;*/
/*}*/

/*.crud .currentImage img{*/
    /*height: 100%;*/
/*}*/
/*      CONTENT :: END     */





/*      FOOTER :: BEGIN     */

footer {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}

.footer__copyright{
    font-weight: 700;
}



